{% extends "smodel/layout.html" %}

{% block add_head %}
<script src="{{ url_for('static',filename='js/page/model_index.js') }}"></script>
{% endblock %}

{% block content_body %}
<div id="templateModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 id="myModalLabel">模板详情</h4>
  </div>
  <div class="modal-body">
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
  </div>
</div>

<div class="container" style="text-align:right;">
  <a href="{{ url_for('stype.add') }}" role="button" class="btn btn-primary">添加栏目</a>
  <a href="{{ url_for('smodel.add') }}" role="button" class="btn btn-primary">添加型号</a>
</div>

{% for t in stype %}
<h5>
  {{ t.name }}
  <a class="hide" href="{{ url_for('stype.arrowup', stype_id=t.id) }}"><i class="icon-arrow-up"></i></a>
  <a class="hide" href="{{ url_for('stype.arrowdown', stype_id=t.id) }}"><i class="icon-arrow-down"></i></a>
  <a class="hide" href="{{ url_for('stype.edit', stype_id=t.id) }}"><i class="icon-edit"></i></a>
  <a class="hide" href="{{ url_for('stype.delete', stype_id=t.id) }}"><i class="icon-remove"></i></a>
</h5>
<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <td width="15%">型号</td>
      <td width="10%">CPU核数</td>
      <td width="10%">内存</td>
      <td>磁盘</td>
      <td width="20%">机器类型</td>
      <td width="15%">模板</td>
      <td width="10%">操作</td>
    </tr>
  </thead>
  <tbody>
    {% for m in smodel %}
    {% if m.stype_id == t.id %}
    <tr>
      <td>{{ m.name }}</td>
      <td>{{ m.cpucores }}</td>
      <td>{{ m.memsize }}G</td>
      <td>{{ m.disk }}</td>
      <td>{{ '虚拟机' if m.if_v else '物理机' }}</td>
      <td><a href="#templateModal" data-toggle="modal" data-url="{{ url_for('smodel.template', smodel_id=m.id) }}">详情</a></td>
      <td>
        <a href="{{ url_for('smodel.arrowup', smodel_id=m.id) }}"><i class="icon-arrow-up"></i></a>
        <a href="{{ url_for('smodel.arrowdown', smodel_id=m.id) }}"><i class="icon-arrow-down"></i></a>
        <a href="{{ url_for('smodel.edit', smodel_id=m.id) }}"><i class="icon-edit"></i></a>
        <a href="{{ url_for('smodel.delete', smodel_id=m.id) }}"><i class="icon-remove"></i></a>
        <a href="{{ url_for('apply.new', smodel_id=m.id) }}"><i class="icon-arrow-right"></i></a>
      </td>
    </tr>
    {% endif %}
    {% endfor %}
  </tbody>
</table>
{% endfor %}
{% endblock %}
