{% from 'import/forms.html' import field_show %}
{% extends "smodel/layout.html" %}

{% block content_body %}
<form class="form-horizontal form" action="{{ url_for('smodel.delete', smodel_id=smodel.id) }}" method="post">
    <legend>{{ stype.name }} -- {{ smodel.name }}</legend>

    {{ field_show(form, 'cpucores') }}
    {{ field_show(form, 'memsize') }}
    {{ field_show(form, 'disk') }}
    {{ field_show(form, 'if_v', '虚拟机' if form['if_v'].data=='1' else '物理机') }}
    {{ field_show(form, 'approver_id', flow.value) }}
    {{ field_show(form, 'template', '<pre class="span6 clean">'|safe + form['template'].data + '</pre>'|safe) }}

    <div class="form-actions">
        <a class="btn" href="{{ rtn }}">返回</a>
    </div>
</form>
{% endblock %}
