{% extends "server/layout.html" %}

{% block add_head %}
<link href="{{ url_for('static',filename='jquery-ui-1.10.3.custom/css/smoothness/jquery-ui-1.10.3.custom.min.css') }}" rel="stylesheet">
<script src="{{ url_for('static',filename='novnc/util.js') }}"></script>
<script src="{{ url_for('static',filename='js/page/server_my.js') }}"></script>
<script src="{{ url_for('static',filename='js/vnc.js') }}"></script>
<script src="{{ url_for('static',filename='jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.min.js') }}"></script>
{% endblock %}

{% block content_body %}
<div id="renew" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="renewLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 id="renewLabel">测试机续期</h4>
  </div>
  <div class="modal-body form-horizontal">
    <div class="control-group">
      <label class="control-label" for="renewDays">天数</label>
      <div class="controls">
        <input type="text" id="renewDays">
        <input type="hidden" id="renewUrl">
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
    <button class="btn btn-primary" id="renewSubmit">确定</button>
  </div>
</div>

<div class="accordion">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" href="#sTest">测试机</a>
    </div>
    <div id="sTest" class="accordion-body collapse in">
      <div class="accordion-inner">
        <table class="table table-hover clean">
          <thead>
            <tr>
              <td width="100px">主机名</td>
              <td>IP</td>
              <td width="70px">状态</td>
              <td width="120px">剩余时间</td>
              <td>标记</td>
              <td>型号</td>
              {% if showall %}
              <td width="80px">申请人</td>
              {% endif %}
              <td width="60px">控制台</td>
              <td width="60px">操作</td>
            </tr>
          </thead>
          <tbody>
            {% for s in server %}
            {% if s.if_t %}
            <tr class="tinfo" data-sid="{{ s.id }}">
              <td>loading...</td>
              <td></td>
              <td></td>
              <td></td>
              <td>{{ apply[s.apply_id].name }}</td>
              <td>{{ smodel[apply[s.apply_id].s_id].stype_name }} -- {{ smodel[apply[s.apply_id].s_id].name }}</td>
              {% if showall %}
              <td>{{ user_dict[s.applier].chinese_name }}</td>
              {% endif %}
              <td><a href="#vnc" data-sid="{{ s.id }}"><img src="/static/img/vnc_on.png"/></a></td>
              <td>
                <a href="#renew" data-toggle="modal" data-renew-url="{{ url_for('server.renew', server_id=s.id) }}"><i class="icon-time"></i></a>
                <a href="{{ url_for('server.delete', server_id=s.id) }}" onclick="return confirm('你确定要删除该虚拟机吗?')"><i class="icon-remove"></i></a>
              </td>
            </tr>
            {% endif %}
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div><!--End sTest-->

  <br/>

  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" href="#sProduction">线上机器</a>
    </div>
    <div id="sProduction" class="accordion-body collapse in">
      <div class="accordion-inner">
        <table class="table table-hover clean">
          <thead>
            <tr>
              <td width="100px">主机名</td>
              <td>IP</td>
              <td width="100px">状态</td>
              <td>标记</td>
              <td>型号</td>
              {% if showall %}
              <td width="80px">申请人</td>
              <td width="100px">VM ID</td>
              {% endif %}
              <td width="60px">控制台</td>
            </tr>
          </thead>
          <tbody>
            {% for s in server %}
            {% if not s.if_t %}
            <tr class="tinfo" data-sid="{{ s.id }}">
              <td>loading...</td>
              <td></td>
              <td></td>
              <td>{{ apply[s.apply_id].name }}</td>
              <td>{{ smodel[apply[s.apply_id].s_id].stype_name }} -- {{ smodel[apply[s.apply_id].s_id].name }}</td>
              {% if showall %}
              <td>{{ user_dict[s.applier].chinese_name }}</td>
              {% if s.vm_id %}
              <td>one-{{ s.vm_id }}</td>
              {% else %}
              <td>--</td>
              {% endif %}
              {% endif %}
              {% if s.vm_id %}
              <td><a href="#vnc" data-sid="{{ s.id }}"><img src="/static/img/vnc_on.png"/></a></td>
              {% else %}
              <td>--</td>
              {% endif %}
            </tr>
            {% endif %}
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div><!--End sProduction-->

</div>
{% endblock %}
