{% extends "server/layout.html" %}

{% block add_head %}
<script src="{{ url_for('static',filename='js/page/server_my.js') }}"></script>
{% endblock %}

{% block content_body %}
<div id="renew" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 id="myModalLabel">测试机续期</h4>
  </div>
  <div class="modal-body form-horizontal">
    <div class="control-group">
      <label class="control-label" for="renewDays">天数</label>
      <div class="controls">
        <input type="text" id="renewDays">
        <input type="hidden" id="renewUrl">
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
    <button class="btn btn-primary" id="renewSubmit">确定</button>
  </div>
</div>

<div class="accordion">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" href="#sTest">测试机</a>
    </div>
    <div id="sTest" class="accordion-body collapse in">
      <div class="accordion-inner">
        <table class="table table-hover clean">
          <thead>
            <tr>
              <td width="9%">主机名</td>
              <td width="20%">IP</td>
              <td width="9%">状态</td>
              <td width="13%">剩余时间</td>
              <td width="15%">标记</td>
              <td width="20%">型号</td>
              {% if showall %}
              <td width="7%">申请人</td>
              {% endif %}
              <td width="7%">操作</td>
            </tr>
          </thead>
          <tbody>
            {% for s in server %}
            {% if s.if_t %}
            <tr class="tinfo" data-sid="{{ s.id }}">
              <td>loading...</td>
              <td></td>
              <td></td>
              <td></td>
              <td>{{ apply[s.apply_id].name }}</td>
              <td>{{ smodel[apply[s.apply_id].s_id].stype_name }} -- {{ smodel[apply[s.apply_id].s_id].name }}</td>
              {% if showall %}
              <td>{{ user_dict[s.applier].chinese_name }}</td>
              {% endif %}
              <td>
                <a href="#renew" data-toggle="modal" data-renew-url="{{ url_for('server.renew', server_id=s.id) }}"><i class="icon-time"></i></a>
                <a href="{{ url_for('server.delete', server_id=s.id) }}" onclick="return confirm('你确定要删除该虚拟机吗?')"><i class="icon-remove"></i></a>
              </td>
            </tr>
            {% endif %}
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div><!--End sTest-->

  <br/>

  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" href="#sProduction">线上机器</a>
    </div>
    <div id="sProduction" class="accordion-body collapse in">
      <div class="accordion-inner">
        <table class="table table-hover clean">
          <thead>
            <tr>
              <td width="10%">主机名</td>
              <td width="20%">IP</td>
              <td width="10%">状态</td>
              <td width="21%">标记</td>
              <td width="25%">型号</td>
              {% if showall %}
              <td width="7%">申请人</td>
              <td width="7%">VM ID</td>
              {% endif %}
            </tr>
          </thead>
          <tbody>
            {% for s in server %}
            {% if not s.if_t %}
            <tr class="tinfo" data-sid="{{ s.id }}">
              <td>loading...</td>
              <td></td>
              <td></td>
              <td>{{ apply[s.apply_id].name }}</td>
              <td>{{ smodel[apply[s.apply_id].s_id].stype_name }} -- {{ smodel[apply[s.apply_id].s_id].name }}</td>
              {% if showall %}
              <td>{{ user_dict[s.applier].chinese_name }}</td>
              <td>one-{{ s.vm_id }}</td>
              {% endif %}
            </tr>
            {% endif %}
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div><!--End sProduction-->

</div>
{% endblock %}
