{% extends "idc/layout.html" %}

{% block content_body %}
<h4>需求列表</h4>

<div class="accordion">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" href="#approving">申请中</a>
    </div>
    <div id="approving" class="accordion-body collapse in">
      <div class="accordion-inner">
        <table class="table table-hover clean">
          <thead>
            <tr>
              <td>简述</td>
              <td>型号</td>
              <td>数量</td>
              <td>状态</td>
              <td>申请时间</td>
              <td>申请人</td>
              <td width="10%">详情</td>
            </tr>
          </thead>
          <tbody>
            {% for a in apply %}
            {% if a.status in (3, 6) and not smodel_dict[a.s_id].if_v %}
            <tr>
              <td>{{ a.name }}</td>
              <td>
              {% if smodel_dict[a.s_id]: %}
                {{ smodel_dict[a.s_id].stype_name }} -- {{ smodel_dict[a.s_id].name }}
              {% else: %}
                NULL -- NULL
              {% endif %}
              </td>
              <td>{{ a.s_num }}</td>
              <td><span class="label {{ config['APPLY_STATUS'][a.status]['class'] }}">{{ config['APPLY_STATUS'][a.status]['name'] }}</span></td>
              <td>{{ a.apply_date }}</td>
              <td>{{ user_dict[a.applier].chinese_name }}</td>
              <td>
                 <a href="{{ url_for('apply.detail', apply_id=a.id) }}"><i class="icon-chevron-right"></i></a>
              </td>
            </tr>
            {% endif %}
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div><!--End approving-->

  <br/>

  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" href="#history">已处理</a>
    </div>
    <div id="history" class="accordion-body collapse in">
      <div class="accordion-inner">
        <table class="table table-hover clean">
          <thead>
            <tr>
              <td>简述</td>
              <td>型号</td>
              <td>数量</td>
              <td>状态</td>
              <td>申请时间</td>
              <td>申请人</td>
              <td width="10%">详情</td>
            </tr>
          </thead>
          <tbody>
            {% for a in apply %}
            {% if a.status==4 and not smodel_dict[a.s_id].if_v %}
            <tr>
              <td>{{ a.name }}</td>
              <td>
              {% if smodel_dict[a.s_id]: %}
                {{smodel_dict[a.s_id].stype_name }} -- {{ smodel_dict[a.s_id].name }}
              {% else: %}
                NULL -- NULL
              {% endif %}
              </td>
              <td>{{ a.s_num }}</td>
              <td><span class="label {{ config['APPLY_STATUS'][a.status]['class'] }}">{{ config['APPLY_STATUS'][a.status]['name'] }}</span></td>
              <td>{{ a.apply_date }}</td>
              <td>{{ user_dict[a.applier].chinese_name }}</td>
              <td><a href="{{ url_for('apply.detail', apply_id=a.id) }}"><i class="icon-chevron-right"></i></a></td>
            </tr>
            {% endif %}
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div><!--End history-->
</div>
{% endblock %}
